<h1>New Timesheet</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.timesheet_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.page_path(@conn, :worker_home, worker_id: @current_worker.id) %></span>
