[Unit]
Description=Lens Photo Sharing

[Service]
Type=simple
User=time1
Group=time1
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/time1/time1
ExecStart=/bin/bash /home/time1/time1/start.sh

[Install]
WantedBy=multi-user.target
