<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Time1 · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="col-4">
          <a class="navbar-brand" href="#">Timesheet System</a>
        </div>


        <div class="col-4">
          <%= if @current_worker do %>
            Worker: <%= @current_worker.name %>
            (<%= link("Logout", to: Routes.session_path(@conn, :delete, position: "worker"), method: :delete) %>)
          <% else %>
            <%= if @current_user do %>
              Manager: <%= @current_user.name %>
              (<%= link("Logout", to: Routes.session_path(@conn, :delete, position: "manager"), method: :delete) %>)
            <% else %>
              <p><%= link("Worker Login", to: Routes.session_path(@conn, :new, position: "worker")) %></p>
              <p><%= link("Manager Login", to: Routes.session_path(@conn, :new, position: "manager")) %></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-4">
        <%= link("Register(Manager)", to: Routes.user_path(@conn, :new)) %>
        </div>>
      
        
      </nav>

      

      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
              <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
