<h1>Edit Job</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.job_path(@conn, :update, @job)) %>

<span><%= link "Back", to: Routes.page_path(@conn, :manager_home, user_id: @current_user.id) %></span>
