<h1>New Worker</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.worker_path(@conn, :create)) %>

<%= if @current_user do %>
    <span><%= link "Back", to: Routes.page_path(@conn, :manager_home, user_id: @current_user.id) %></span>
<% end %>  
  
<%= if @current_worker do %>
    <span><%= link "Back", to: Routes.page_path(@conn, :worker_home, worker_id: @current_worker.id) %></span>    
<% end %>
