<h1>Show Task</h1>

<ul>

  <li>
    <strong>Hour:</strong>
    <%= @task.hour %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= @task.note %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
